.Rproj.user
.Rhistory
.RData
.Ruserdata

# customer attribute of local folder
.DS_Store

# quarto book
_book/
/.quarto/

# reprex
*_reprex_files/
*_reprex.md
*_reprex.R

# experimental
experimental/

# code to generate data
data_generation/
